In [1]:
!pip install 'pandas'
!pip install 'pandasql'

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.1.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.22)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.6.4)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.5.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=76ac9925d29c0b647275ca332bfd68a20028de3fc0c3c6b7f8cdebe3e0126e2f
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
import pandas as pd
import pandasql

In [10]:
url = 'https://docs.google.com/spreadsheets/d/1FZhTq6ybbxC63htBEd_kxsJI9vTcKSXUcfwWMLVSo0Y/edit?usp=sharing'

In [11]:
!pip install oauth2client 
!pip install gspread

Requirement already satisfied: oauth2client in /usr/local/lib/python3.7/dist-packages (4.1.3)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.7/dist-packages (from oauth2client) (1.15.0)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.7/dist-packages (from oauth2client) (0.17.4)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from oauth2client) (4.7.2)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from oauth2client) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.7/dist-packages (from oauth2client) (0.2.8)
Requirement already satisfied: gspread in /usr/local/lib/python3.7/dist-packages (3.0.1)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from gspread) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->gspread) (1.24.3)

In [12]:
from oauth2client.service_account import ServiceAccountCredentials
import gspread

scope = ['https://www.googleapis.com/auth/spreadsheets']
credentials = ServiceAccountCredentials.from_json_keyfile_name('my_json_file.json', scope)
client = gspread.authorize(credentials)
sheet = client.open_by_url(url)
worksheet = sheet.get_worksheet(0)
results = worksheet.get_all_records()

In [13]:
result_df = pd.DataFrame(results)

In [14]:
result_df.columns

Index(['ประทับเวลา', 'เพศ', 'ชั้นปีการศึกษา', 'คณะที่ศึกษา',
       'การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Zoom]',
       'การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Google Meet]',
       'การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Microsoft Teams]'],
      dtype='object')

In [15]:
result_df.shape

(102, 7)

In [16]:
result_df.head()

            ประทับเวลา  ... การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Microsoft Teams]
0  20/8/2021, 19:39:02  ...                                                  5
1  20/8/2021, 19:39:39  ...                                                  3
2  20/8/2021, 19:39:48  ...                                                  3
3  20/8/2021, 19:40:16  ...                                                  2
4  20/8/2021, 19:40:51  ...                                                  4

[5 rows x 7 columns]

In [17]:
qdf =  pandasql.sqldf("select คณะที่ศึกษา from result_df group by คณะที่ศึกษา")

qdf.head(20)

            คณะที่ศึกษา
0
1        คณะวิทยาศาสตร์
2        คณะศึกษาศาสตร์
3              คณะอักษร
4                 วิทยา
5   วิทยาการคอมพิวเตอร์
6      วิทยาลัยการศึกษา
7            วิทยาศาสตณ
8           วิทยาศาสตร์
9                 วิทย์
10       วิศวกรรมศาสตร์
11                วิศวะ
12               วิศวุะ
13                ศึกษา
14          ศึกษาศาสตร์
15          ศึกษาสาสตร์
16                อักษร
17          อักษรศาสตร์
18       เทคนิคการแพทย์
19  เทคโนโลยีอุตสาหกรรม

In [18]:
result_df.loc[result_df.คณะที่ศึกษา == 'วิทยา', 'คณะที่ศึกษา'] = 'คณะวิทยาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'วิทยาการคอมพิวเตอร์', 'คณะที่ศึกษา'] = 'คณะวิทยาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'วิทยาศาสตณ', 'คณะที่ศึกษา'] = 'คณะวิทยาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'วิทยาศาสตร์', 'คณะที่ศึกษา'] = 'คณะวิทยาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'วิทย์', 'คณะที่ศึกษา'] = 'คณะวิทยาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'เทคโนโลยีอุตสาหกรรม', 'คณะที่ศึกษา'] = 'คณะวิทยาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'เทคนิคการแพทย์', 'คณะที่ศึกษา'] = 'คณะวิทยาศาสตร์'

In [19]:
result_df.loc[result_df.คณะที่ศึกษา == 'ศึกษาศาสตร์', 'คณะที่ศึกษา'] = 'คณะศึกษาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'ศึกษา', 'คณะที่ศึกษา'] = 'คณะศึกษาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'ศึกษาสาสตร์', 'คณะที่ศึกษา'] = 'คณะศึกษาศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'วิทยาลัยการศึกษา', 'คณะที่ศึกษา'] = 'คณะศึกษาศาสตร์'

In [20]:
result_df.loc[result_df.คณะที่ศึกษา == 'คณะอักษร', 'คณะที่ศึกษา'] = 'คณะอักษรศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'อักษร', 'คณะที่ศึกษา'] = 'คณะอักษรศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'อักษรศาสตร์', 'คณะที่ศึกษา'] = 'คณะอักษรศาสตร์'

In [21]:
result_df.loc[result_df.คณะที่ศึกษา == 'วิศวกรรมศาสตร์', 'คณะที่ศึกษา'] = 'คณะวิศวกรรมศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'วิศวะ', 'คณะที่ศึกษา'] = 'คณะวิศวกรรมศาสตร์'
result_df.loc[result_df.คณะที่ศึกษา == 'วิศวุะ', 'คณะที่ศึกษา'] = 'คณะวิศวกรรมศาสตร์'

In [22]:
qdf =  pandasql.sqldf("select คณะที่ศึกษา from result_df group by คณะที่ศึกษา")

qdf.head(20)

         คณะที่ศึกษา
0
1     คณะวิทยาศาสตร์
2  คณะวิศวกรรมศาสตร์
3     คณะศึกษาศาสตร์
4     คณะอักษรศาสตร์

In [23]:
result_df.head()

            ประทับเวลา  ... การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Microsoft Teams]
0  20/8/2021, 19:39:02  ...                                                  5
1  20/8/2021, 19:39:39  ...                                                  3
2  20/8/2021, 19:39:48  ...                                                  3
3  20/8/2021, 19:40:16  ...                                                  2
4  20/8/2021, 19:40:51  ...                                                  4

[5 rows x 7 columns]

In [24]:
result_df['Zoom'] = result_df['การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Zoom]']
result_df['Google Meet'] = result_df['การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Google Meet]']
result_df['Microsoft Teams'] = result_df['การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Microsoft Teams]']

In [25]:
result_df.columns.to_list()

['ประทับเวลา',
 'เพศ',
 'ชั้นปีการศึกษา',
 'คณะที่ศึกษา',
 'การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Zoom]',
 'การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Google Meet]',
 'การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Microsoft Teams]',
 'Zoom',
 'Google Meet',
 'Microsoft Teams']

In [26]:
column_name = result_df.columns.to_list()

In [27]:
column_name.remove('การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Zoom]')
column_name.remove('การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Google Meet]')
column_name.remove('การให้คะแนนความพึงพอใจต่อ Applications ที่ใช้ในการศึกษาในช่วงสถานการณ์ Covid-19 [Microsoft Teams]')
column_name

['ประทับเวลา',
 'เพศ',
 'ชั้นปีการศึกษา',
 'คณะที่ศึกษา',
 'Zoom',
 'Google Meet',
 'Microsoft Teams']

In [28]:
result_df.to_csv('ทดลอง.csv', encoding='utf8', columns = column_name, index=False)

In [29]:
qdf.to_csv('ทดลอง', encoding='utf8', index=False)

In [30]:
qdf =  pandasql.sqldf("select คณะที่ศึกษา, sum([Zoom])/count(*) as q1 from result_df group by คณะที่ศึกษา")

qdf.head(20)

         คณะที่ศึกษา     q1
0                     383.0
1     คณะวิทยาศาสตร์    3.0
2  คณะวิศวกรรมศาสตร์    3.0
3     คณะศึกษาศาสตร์    3.0
4     คณะอักษรศาสตร์    3.0

In [ ]:
q1 = 'sum([Zoom])/count(*) as q1'
q2 = 'sum([Google Meet])/count(*) as q2'
q3 = 'sum([Microsoft Teams])/count(*) as q3'

In [ ]:
sql = "select คณะที่ศึกษา, %s, %s, %s from result_df group by คณะที่ศึกษา" % (q1, q2, q3)

In [ ]:
sql

'select คณะที่ศึกษา, sum([Zoom])/count(*) as q1, sum([Google Meet])/count(*) as q2, sum([Microsoft Teams])/count(*) as q3 from result_df group by คณะที่ศึกษา'

In [ ]:
sum_report =  pandasql.sqldf(sql)

sum_report.head(20)

         คณะที่ศึกษา  q1  q2  q3
0     คณะวิทยาศาสตร์   3   4   3
1  คณะวิศวกรรมศาสตร์   3   4   3
2     คณะศึกษาศาสตร์   3   4   4
3     คณะอักษรศาสตร์   3   4   3

In [ ]:
sum_report =  pandasql.sqldf(sql)

sum_report.head(20)

         คณะที่ศึกษา  q1  q2  q3
0     คณะวิทยาศาสตร์   3   4   3
1  คณะวิศวกรรมศาสตร์   3   4   3
2     คณะศึกษาศาสตร์   3   4   4
3     คณะอักษรศาสตร์   3   4   3

In [ ]:
sum_report['sum'] = sum_report.sum(axis=1)

In [ ]:
sum_report.head(20)

         คณะที่ศึกษา  q1  q2  q3  sum
0     คณะวิทยาศาสตร์   3   4   3   10
1  คณะวิศวกรรมศาสตร์   3   4   3   10
2     คณะศึกษาศาสตร์   3   4   4   11
3     คณะอักษรศาสตร์   3   4   3   10

In [ ]:
qdf =  pandasql.sqldf("select * from sum_report order by sum desc")

qdf.head(20)

         คณะที่ศึกษา  q1  q2  q3  sum
0     คณะศึกษาศาสตร์   3   4   4   11
1     คณะวิทยาศาสตร์   3   4   3   10
2  คณะวิศวกรรมศาสตร์   3   4   3   10
3     คณะอักษรศาสตร์   3   4   3   10

In [ ]:
sum_report.sum()

คณะที่ศึกษา    คณะวิทยาศาสตร์คณะวิศวกรรมศาสตร์คณะศึกษาศาสตร์ค...
q1                                                            12
q2                                                            16
q3                                                            13
sum                                                           82
dtype: object

In [ ]:
qdf.to_csv('score.csv', encoding='utf8', index=False)